<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/communityLayout}">
<head>
    <title>커뮤니티</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<!--    <link rel="stylesheet" type="text/css" href="/css/community.css">-->

</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="container-xxl py-5" style="height: 1062px">
        <!--  community field  -->
        <div id="container" >
            <h3 style="text-align: center"><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>커뮤니티</b></h3>
            <div class="row ">
                <div class="col-sm-12">
                    <div align="right">
                        <button type="button" class="btn btn-secondary" id="writeBtn"
                                onclick="window.location.href ='/community/write'" sec:authorize="isAuthenticated()">글쓰기
                        </button>
                    </div>
                    <table class="table  caption-top table-hover" id="table" name = "table">
                        <colgroup>
                            <col width="2%" />
                            <col width="25%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                                listStat = -->
                        <tr th:if="${#lists.size(posts.page)}>0"
                            th:each="list, listStat : ${posts.page}"
                            class="project-item border rounded h-100 p-4" style="min-height: 300px; max-height: 300px;"
                            th:data-dot="${listStat.index}" scope = "row">

                                <td th:text="${list.id}"></td>
                                <td th:text="${list.title}"><a th:href="@{/community/detail/{id}(id=${list.id})}"></a></td>
                                <td th:text="${list.member.memberNickname}"></td>
                                <td th:text="${#temporals.format(list.regTime, 'yyyy-MM-dd')}"></td>
                                <td th:text="${list.hit}"></td>

                        </tr>
                        </tbody>

                    </table>
                </div>


            </div>
        </div>
        <nav aria-label="Page navigation" class="container d-flex align-items-center justify-content-center" >
            <ul class="pagination" th:if="${posts.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/community/main' + '?pageNumber=' + ${posts.paging.pageNumber -1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${posts.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/community/main' + '?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{'/community/main' + '?pageNumber=' + ${posts.paging.pageNumber -1}}">Next</a>
                </li>
            </ul>
        </nav>
        <!--    파트 페이지-->
        <!--    <nav aria-label="Page navigation" class="paging">-->
        <!--        <ul class="pagination" th:if="${posts.page.totalPages > 1}">-->
        <!--            <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">-->
        <!--                <a class ="page-link" th:href="@{'/community/' + ${category} + '?pageNumber=' + ${posts.paging.pageNumber - 1}}"-->
        <!--                   tabindex="-1">Previous</a>-->
        <!--            </li>-->
        <!--            <th:block th:each="item : ${posts.paging.getItems()}">-->
        <!--                <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"-->
        <!--                    th:if="${item.pageItemType.name() == 'PAGE'}">-->
        <!--                    &lt;!&ndash; <input type="hidden" id="hiddenPrev" name="hiddenPrev" th:value="${item.index}">-->
        <!--                     <a class="page-link"-->
        <!--                        id="pagePrev" name="pagePrev" onclick="pagePrev()" th:text="${item.index}"></a>&ndash;&gt;-->
        <!--                    <a class="page-link" th:href="@{'/community/' + ${part} + '?pageNumber=' + ${item.index}}"-->
        <!--                       th:text="${item.index}"></a>-->
        <!--                </li>-->
        <!--                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">-->
        <!--                    <a class="page-link" href="#">...</a>-->
        <!--                </li>-->
        <!--            </th:block>-->
        <!--            <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">-->
        <!--                <a class="page-link"-->
        <!--                   th:href="@{'/community/' + ${part} + '?pageNumber=' + ${posts.paging.pageNumber + 1}}">Next</a>-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--    </nav>-->
    </div>

</div>

<script type="text/javascript">
    function testEvent() {
        // alert("테스트");
        // $.ajax({
        //     async: false,
        //     type: 'GET',
        //     url: "/communitywrite/1",
        //     dataType: "text",
        //     success: function (data) {
        //         let message = "success";
        //         alert('성공');
        //     },
        //     error: function (jqXHR, textStatus, errorThrown) {
        //         alert("ERROR : " + textStatus + " : " + errorThrown);
        //     }
        //
        // });
        location.href = "community/write/1";
    }


</script>

<script type="text/javascript">
    $(window).load(function () {
        try {
        } catch (e) {
        }
    });
    $(function () {
        $('.tabcontent > div').hide();
        $('.tabnav a').click(function () {
            $('.tabcontent > div').hide().filter(this.hash).fadeIn();
            $('.tabnav a').removeClass('active');
            $(this).addClass('active');
            return false;
        }).filter(':eq(0)').click();
    });
</script>
<script>
    if (top != window) {
        top.location = window.location;
    }

</script>

</div>
</body>

</html>