<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basiclayout}">
<head>
    <title>커뮤니티</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">

</head>
<body class="vsc-initialized">
<div layout:fragment="content">
<div id="wraaper">
      <!--  community field  -->
    <div id="container">
        <div id="asset1" class="tab_content current">
            <ul class="tabs_in">
                <li
                        class="tab-link current"
                        data-tab="tab_1"
                >
                    <span>공지</span>
                </li>

                <li
                        class="tab-link"
                        data-tab="tab_2"
                >
                    <span>Q&A</span>
                </li>

                <li
                        class="tab-link"
                        data-tab="tab_3"
                >
                    <span>자료실</span>
                </li>
            </ul>
            <div class="tabs_inbox">
                <div id="tab_1" class="tab_content current">
                    <div class="row ">
                        <div class="col-sm-12">
                            <div align="right">
                                <button type="button" class="btn btn-secondary" id="writeBtn"
                                        onclick="window.location.href ='/communitywrite'">글쓰기
                                </button>
                            </div>
                            <button onclick="testEvent()">이벤트 테스트</button>
                            <table id="example" class="display" style="width:100%" border="1">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <!--                            <th>작성자</th>-->
                                    <!--                            <th>작성일</th>-->
                                    <!--                            <th>조회수</th>-->
                                </tr>
                                </thead>
                                <tbody id="listArea">
                                <tr th:each="communityMain : ${communityMainList}">
                                    <td th:text="${communityMain.communityId}"></td>
                                    <td th:text="${communityMain.communityTitle}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function testEvent() {
        // alert("테스트");
        // $.ajax({
        //     async: false,
        //     type: 'GET',
        //     url: "/communitywrite/1",
        //     dataType: "text",
        //     success: function (data) {
        //         let message = "success";
        //         alert('성공');
        //     },
        //     error: function (jqXHR, textStatus, errorThrown) {
        //         alert("ERROR : " + textStatus + " : " + errorThrown);
        //     }
        //
        // });
        location.href = "/communitywrite/1";
    }


</script>

<script type="text/javascript">
    $(window).load(function () {
        try {
        } catch (e) {
        }
    });
    $(function () {
        $('.tabcontent > div').hide();
        $('.tabnav a').click(function () {
            $('.tabcontent > div').hide().filter(this.hash).fadeIn();
            $('.tabnav a').removeClass('active');
            $(this).addClass('active');
            return false;
        }).filter(':eq(0)').click();
    });
</script>
<script>
    if (top != window) {
        top.location = window.location;
    }

</script>

</div>
</body>

</html>