<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="footer" th:fragment="footer">
    <footer>
        <div class="footer_box">
            <div class="footer_logo">
                <img
                        th:src="@{/img/} +'EDoLOGO.png'"
                        alt="하단로고"
                />
            </div>


            <address>
                LMS Program E-do<br/>
                contact. 박형준 diqzkvhfpqj@gmail.com<br/>
                김민주 pinokoiandmj@naver.com
            </address>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- //footer_box -->
</div>
<!-- //footer -->

</body>
</html>