<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="header" th:fragment="header">
    <input type="hidden" id="headTag" th:value="${headTag}"/>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;"
             role="status"></div>
        <i class="fa fa-laptop-code fa-2x text-primary position-absolute top-50 start-50 translate-middle"></i>
    </div>
    <!-- Spinner End -->

    <!-- Brand & Contact Start -->
    <div class="container-fluid py-4 px-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row align-items-center top-bar">
            <div class="col-lg-4 col-md-12 text-center text-lg-start">
                <a href="/" class="navbar-brand m-0 p-0">
                    <h3 class="fw-bold text-primary m-0">
                        <img
                                src="/image/EDoLOGO_small.png"
                                alt="상단로고"
                        />
                        E-Do 온라인학습 관리시스템</h3>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
            </div>
        </div>
    </div>
    <!-- Brand & Contact End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn"
         data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-3 d-lg-none">MENU</a>
        <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto p-3 p-lg-0">
                <a href="/" class="nav-item nav-link headTag" id="tag" >Home</a>
                <a th:href="@{/lecture/{part}(part='All')}" class="nav-item nav-link headTag" id="lectureTag">강좌</a>
                <a href="/community/community/notice" class="nav-item nav-link headTag">커뮤니티</a>
                <a href="https://zep.us/play/2YEXdq" class="nav-item nav-link headTag" sec:authorize = "isAuthenticated()" >메타버스</a>
            </div>
            <a href="/member/login" sec:authorize = "isAnonymous()" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block">로그인/회원가입</a>
                        <div class="dropdown" sec:authorize = "isAuthenticated()"  th:object="${memberList}"  style="margin-right: 100px">
                            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                               data-bs-toggle="dropdown" aria-expanded="false">

                                <strong sec:authentication="principal.username">님</strong>
                            </a>
                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="/member/mypage">마이페이지</a></li>
                                <li><a class="dropdown-item" href="/member/password/reset">비밀번호 변경</a></li>
                                <li><a class="dropdown-item" href="/member/logout">로그아웃</a></li>
                            </ul>
                        </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <th:block layout:fragment="script">
        <script type="text/javascript">
            $(function () {
                var url = window.location.pathname,
                    urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
                    url.substring()
                $('.headTag').each(function () {
                     if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                         if(urlRegExp.test('/')){
                            $('#tag').addClass('active');
                         }else {
                             if(urlRegExp.test('/lecture/python')){
                                 alert('hi');
                                 $('#lectureTag').addClass('active');
                             }
                             $(this).addClass('active');
                         }}
                });
            });
        </script>
    </th:block>
</div>

</body>
</html>