<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basiclayout}">
<head>
    <title>로그인</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel = "stylesheet" type="text/css" href ="/css/basic.css">
    <script type="text/javascript">
        $(window).load(function () {
            try {
            } catch (e) {
            }
        });
    </script>
    <script>
        if (top != window) {
            top.location = window.location;
        }
    </script>
</head>
<body class="vsc-initialized">
<div layout:fragment="content">
<div id="wraaper">

<!--  login field  -->
<div id="container">
    <div class="log_form">
        <form>
        <h4 class="log_tt">
            <div class="login_icon">
                <img src="http://crhs.aimind.co.kr/images/login_icon.png" alt="자물쇠사진">
            </div>

            <div class="login_title">
                <p>로그인</p>
                <p>이메일과 비밀번호를 입력해주세요.</p>
            </div>
        </h4>
        <div class="log_area">
                <div class="log_in">

                    <div class="iparea ip_id"><input id="usersEmail" name="usersEmail" tabindex="1" onkeypress="javascript:enPress();" placeholder="이메일"  required="Y" type="text" value=""></div>
                    <div class="iparea ip_pass"><input id="userpassword" name="userpassword" tabindex="2" onkeypress="javascript:enPress();" placeholder="비밀번호"  required="Y" type="password" value=""></div>
                </div>
                <div th:align="center">
                    <input type="submit" class="btn btn_primary mb1 bg-blue" value="로그인"/>
                </div>
        </div>
        </form>
        <div style="margin:20px auto 0 auto;text-align:center;">
            <!-- <input type="button" class="button gray" style="width:199px;" onclick="#'" value="아이디/비밀번호 찾기"> -->
            <input type="button" class="button gray" style="width:198px;" onclick="memberEnter();" value="회원가입">
        </div>

    </div>
</div><!-- //container -->
</div>
</div>
</body>

</html>