<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basiclayout}">
<head>
    <title>회원가입</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!--    <link rel="stylesheet" type="text/css" href="css/login.css">-->
    <link rel="stylesheet" type="text/css" href="/css/users.css">
    <script type="text/javascript">
        $(window).load(function () {
            try {
            } catch (e) {
            }
        });
    </script>
    <script>
        if (top != window) {
            top.location = window.location;
        }
    </script>
    <script type="text/javascript">
        // 이메일 중복 체크
        function emailDuplCheck() {

        }

        //비밀번호 체크. -> 뭔가 틀릴 경우 false, 맞는 경우 true로 해서 값 넘기는 거 추가...해야할듯
        function passwordCheck() {
            ;

            let password = document.getElementById('password');
            let passwordCheck = document.getElementById('passwordcheck');
            if (password == passwordCheck) {
                alert("비밀번호가 일치합니다.")
            } else {
                alert("비밀번호를 다시 확인해주세요")
            }
        }

        function joinDo() {
            //    회원가입
            window.location.href = '/';
        }
    </script>

</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="wraaper">

        <div id="container">
            <h3>회원가입</h3>

            <form id="joinForm" name="joinForm" action="/memberjoinInfo" method="post">
                <table class="board_base board_color board_login">
                    <colgroup>
                        <col width="130px">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>· 이메일</th>
                        <td>
                            <input id="usersEmail" name="usersEmail" class="text text_s text_ss" title="이메일" type="text"
                                   value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"
                                                     onclick="emailDuplCheck();return false;">중복확인</a>

                        </td>
                    </tr>
                    <!--                &lt;!&ndash;                권한 탭 잠시 보류 &ndash;&gt;-->
                    <!--                &lt;!&ndash;                <tr class="firstsite site" >&ndash;&gt;-->
                    <!--                &lt;!&ndash;                    <th>· 권한</th>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                    <td>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                        <select id="memberRank" name="memberRank">&ndash;&gt;-->
                    <!--                &lt;!&ndash;                            <option value="">권한</option>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                            <option value="R10">학생</option>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                            <option value="R20">강사</option>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                            <option value="R30">관리자</option>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                        </select>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                    </td>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                </tr>&ndash;&gt;-->
                    <tr class="firstsite site">
                        <th>· 비밀번호</th>
                        <td>
                            <input id="usersPassword" name="usersPassword" class="text text_s text_ss" title="비밀번호"
                                   type="password" value="">&nbsp;&nbsp;<p class="ex">* 비밀번호는 8~ 15자로 영문, 숫자, 특수문자(!, @,
                            #,
                            $, %, ^, &amp;, *, (, ), _, +)를 <br> 포함해야 합니다. 숫자의 경우 연속으로 5자를 초과하여 사용할 수 없습니다.</p>

                        </td>
                    </tr>
                    <!--                &lt;!&ndash;                <tr class="firstsite site">&ndash;&gt;-->
                    <!--                &lt;!&ndash;                    <th>· 비밀번호 확인</th>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                    <td>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                        <input id="passwordcheck" name="passwordcheck" class="text text_s" title="비밀번호 확인"&ndash;&gt;-->
                    <!--                &lt;!&ndash;                               type="password" value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"&ndash;&gt;-->
                    <!--                &lt;!&ndash;                                                                 onclick="passwordCheck();return false;">비밀번호 확인</a>&ndash;&gt;-->


                    <!--                &lt;!&ndash;                    </td>&ndash;&gt;-->
                    <!--                &lt;!&ndash;                </tr>&ndash;&gt;-->

                    <tr class="firstsite">
                        <th>· 닉네임</th>
                        <td>
                            <input id="usersNickname" name="usersNickname" class="text text_s" title="닉네임" type="text"
                                   value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"
                                                     onclick="nickNameDuplCheck();return false;">중복확인</a>

                        </td>
                    </tr>
                    <tr class="firstsite">
                        <th>· 이름</th>
                        <td>
                            <input id="usersName" name="usersName" class="text text_s" title="이름" type="text" value="">

                        </td>
                    </tr>
                    <tr class="firstsite">
                        <th>· 연락처</th>
                        <td>
                            <input id="usersPhone" name="usersPhone" class="text text_s text_ss" title="연락처" type="text"
                                   value="">

                        </td>
                    </tr>

                    </tbody>
                </table>


                <div class="board_btn board_btn_c firstsite site" align="center">
                    <span>
                        <input type="submit" value="회원가입" class="btn btn-primary" id="userJoinButton"/>
                    </span>
                </div>
            </form>

        </div><!-- //board_btn -->

    </div>
</div><!-- //container -->
<!-- js code -->
<script>
    $(#joinForm).submit(function (event) {
        let usersEmail = $("#usersEmail").val();
        let usersPassword = $("#usersPassword").val();
        let usersName = $("#usersName").val();
        let usersPhone = $("#usersPhone").val();
        let usersNickname = $("#usersNickname").val();

        let param = {
            "usersEmail": usersEmail,
            "usersPassword": usersPassword,
            "userName": usersName,
            "usersPhone": usersPhone,
            "usersNickname": usersNickname
        }

        console.log(param)

        $.ajax({
            async: false,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(param),
            url: "/memberjoinInfo",
            dataType: "text",
            success: function (data) {
                let message = "success";
                alert('성공');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("ERROR : " + textStatus + " : " + errorThrown);
            }
        });
    })
</script>
</div>

</body>

</html>