<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basiclayout}">
<head>
    <title>회원가입</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/users.css">
    <script type="text/javascript">
        $(window).load(function () {
            try {
            } catch (e) {
            }
        });
    </script>
    <script>
        if (top != window) {
            top.location = window.location;
        }
    </script>
    <script type="text/javascript">
        // 이메일 중복 체크
        function emailDuplCheck() {

        }

        //비밀번호 체크. -> 뭔가 틀릴 경우 false, 맞는 경우 true로 해서 값 넘기는 거 추가...해야할듯
        function passwordCheck() {
            let password = document.getElementById('usersPassword').value;
            let passwordCheck = document.getElementById('passwordcheck').value;
            console.log(password,passwordCheck);
            if(password != null){
                if (password === passwordCheck) {
                    alert("비밀번호가 일치합니다.")
                } else {
                    alert("비밀번호를 다시 확인해주세요")
                }
            }else{
                alert("비밀번호를 입력해주세요")
            }

        }

        function joinDo() {
            //    회원가입
            window.location.href = '/';
        }
    </script>

</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="wraaper">

        <div id="container">
            <h3>회원가입</h3>

            <form id="joinForm" name="joinForm" action="/memberjoinInfo" method="post">
                <table class="board_base board_color board_login">
                    <colgroup>
                        <col width="130px">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>· 이메일</th>
                        <td>
                            <input id="usersEmail" name="usersEmail" class="text text_s text_ss" title="이메일"
                                   type="email"
                                   value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"
                                                     onclick="emailDuplCheck();return false;">중복확인</a>

                        </td>
                    </tr>
                    <tr class="firstsite site">
                        <th>· 비밀번호</th>
                        <td>
                            <input id="usersPassword" name="usersPassword" class="text text_s text_ss" title="비밀번호"
                                   type="password" value="">&nbsp;&nbsp;<p class="ex">* 비밀번호는 8~ 15자로 영문, 숫자, 특수문자(!, @,
                            #,
                            $, %, ^, &amp;, *, (, ), _, +)를 <br> 포함해야 합니다. 숫자의 경우 연속으로 5자를 초과하여 사용할 수 없습니다.</p>

                        </td>
                    </tr>
                    <tr class="firstsite site">
                        <th>· 비밀번호 확인</th>
                        <td>
                            <input id="passwordcheck" name="passwordcheck" class="text text_s" title="비밀번호 확인"
                                   type="password" value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"
                                                                     onclick="passwordCheck();">비밀번호 확인</a>


                        </td>
                    </tr>

                    <tr class="firstsite">
                        <th>· 닉네임</th>
                        <td>
                            <input id="usersNickname" name="usersNickname" class="text text_s" title="닉네임" type="text"
                                   value="">&nbsp;<a class="btn btn-secondary" href="javascript:;"
                                                     onclick="nickNameDuplCheck();return false;">중복확인</a>

                        </td>
                    </tr>
                    <tr class="firstsite">
                        <th>· 이름</th>
                        <td>
                            <input id="usersName" name="usersName" class="text text_s" title="이름" type="text" value="">

                        </td>
                    </tr>
                    <tr class="firstsite">
                        <th>· 연락처</th>
                        <td>
                            <input id="usersPhone" name="usersPhone" class="text text_s text_ss" title="연락처" type="text"
                                   value="">
                            &nbsp;&nbsp; 예)010-2020-2017 -> 01020202017
                        </td>
                    </tr>

                    </tbody>
                </table>


                <div class="board_btn board_btn_c firstsite site" align="center" style="margin-top: 10px">
                    <span>
                        <input type="submit" value="회원가입" class="btn btn-primary" id="userJoinButton"/>
                    </span>
                </div>
<!--                                csrf 방어-->
<!--                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
            </form>

        </div><!-- //board_btn -->

    </div>
</div><!-- //container -->
<!-- js code -->
<script>



</script>
</div>

</body>

</html>