<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">

</head>
<body>
<div id="footer" th:fragment="fragment-nav">
    <div class="footer_box">
        <div class="footer_logo">
            <img
                    src="http://crhs.aimind.co.kr/images/code_logo.png"
                    alt="하단로고"
            />
        </div>
        <!-- //footer_logo -->
<!-- 지금 안 필요할 듯. 나중에 수정해서 사용-->
<!--        <div class="copyright">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <a-->
<!--                            href="javascript:;"-->
<!--                            onclick="window.open('http://crhs.aimind.co.kr/popup/privacyPolicy.pop', 'privacy', 'width=900, height=800, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=no, location=no, scrollbars=no');"-->
<!--                    >개인정보처리방침</a-->
<!--                    >-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a-->
<!--                            href="javascript:;"-->
<!--                            onclick="window.open('http://crhs.aimind.co.kr/popup/stipulation.pop', 'stipulation', 'width=900, height=800, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=no, location=no, scrollbars=no');"-->
<!--                    >서비스 이용약관</a-->
<!--                    >-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a-->
<!--                            href="javascript:;"-->
<!--                            onclick="window.open('http://crhs.aimind.co.kr/popup/rejectEmail.pop', 'email', 'width=900, height=800, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=no, location=no, scrollbars=no');"-->
<!--                    >이메일주소 무단수집거부</a-->
<!--                    >-->
<!--                </li>-->
<!--            </ul>-->

            <address>
                인천광역시 남구 인하로 100 인하공업전문대학교<br/>
                2022 창업동아리 E-do LMS Project<br/>
                201745016 박형준 202045101 김민주
            </address>
        </div>
        <!-- //copyright -->
    </div>
    <!-- //footer_box -->
</div>
<!-- //footer -->

</body>
</html>