<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="school_logo"
                     src="http://crhs.aimind.co.kr/upload/2022/08/05/4d152fb6710cff0cadd3cf66a8c1b300.png"
                     alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/" target="_self"
                           title="홈" class="button">홈</a>
                    </li>
                    <li class="nav-item">
                        <a href="/lecture" target="_self"
                           title="강좌 메뉴 링크" class="button">강좌</a>
                    </li>
                    <li class="nav-item">
                        <a href="/mypage" target="_self"
                           title="포트폴리오 메뉴 링크" class="button">포트폴리오</a>
                    </li>
                    <li class="nav-item">
                        <a href="/communitymain" target="_self"
                           title="공지/소식 메뉴 링크" class="button">커뮤니티</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://crhs.aimind.co.kr/html/view.htm?menu=40" target="_self" title="소개 메뉴 링크"
                           class="button">소개</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://crhs.aimind.co.kr/edub/experience/request.do" class="button">체험하기</a>
                    </li>
                </ul>
                <span>
                             <a type="button" class="button" href="/login">Login</a>
                        </span>

                <span>
                            <a href="/memberjoin">회원가입</a>
                        </span>
            </div>
        </div>
    </nav>
    <div class="gnb_box">
        <div class="clear"></div>
    </div><!-- //gnb_box -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="http://crhs.aimind.co.kr/upload/2022/06/14/96872a00625998ff734e4f4fe640ef70.png"
                     alt="이미지1">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="http://crhs.aimind.co.kr/upload/2022/06/14/2530d18288fe9f9912ad6ac8db6a3125.png"
                     alt="이미지2">
            </div>
            <div class="carousel-item">
                <img src="http://crhs.aimind.co.kr/upload/2022/06/14/f27a4a1ee105a1a43add0a13f6739620.png"
                     alt="이미지3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <script type="text/javascript">

        var emailconfirm = document.getElementById("sendmail");
        var sendmail_text = document.getElementById("sendmail_text");
        var sendmailvar = document.getElementById('btt');
        var btn = document.getElementById('aa');
        var mes = document.getElementById("mes");

        var fild1 = document.getElementById("fild_1");
        var fild2 = document.getElementById("fild_2");
        var fild3 = document.getElementById("fild_3");

        var fild1_t = document.getElementById("fild_1_text");
        var fild2_t = document.getElementById("fild_2_text");
        var fild3_t = document.getElementById("fild_3_text");

        function zz() {
            mes.style.display = 'none';
            sendmailvar.style.display = 'flex';
            emailconfirm.style.display = 'flex';
            sendmail_text.style.display = 'flex';

            fild1.style.display = 'none';
            fild1_t.style.display = 'none';

            fild2.style.display = 'none';
            fild2_t.style.display = 'none';

            fild3.style.display = 'none';
            fild3_t.style.display = 'none';
        }


        //var sendemaildata = { sendemail : $("#sendemail").val()};

        sendmailvar.addEventListener('click', function () {
            var xhr = new XMLHttpRequest();
            var value = 'sendmail=' + emailconfirm.value;
            console.log(value);
            //alert("a");

            xhr.open('POST', '/sendmail', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            console.log(value);
            xhr.send(value); /// ajax data부분
            xhr.onload = function () {
                if (xhr.status == 200) {
                    //alert(xhr.response);
                    if (xhr.response != 'false') {
                        mes.style.display = 'none';
                        sendmailvar.style.display = 'none';
                        emailconfirm.style.display = 'none';
                        sendmail_text.style.display = 'none';


                        fild1.style.display = 'flex';
                        fild1_t.style.display = 'flex';

                        fild2.style.display = 'flex';
                        fild2_t.style.display = 'flex';

                        fild3.style.display = 'flex';
                        fild3_t.style.display = 'flex';
                    } else {
                        mes.style.display = 'flex';
                    }
                }
            }
        })

        function btnSubmit() {
            var xhr = new XMLHttpRequest();
            var value = {
                'email': emailconfirm.value,
                'pass': fild_1.value,
            };
            var jsonString = JSON.stringify(value);

            //alert("a");
            xhr.open('POST', '/passchange', true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(jsonString); /// ajax data부분

            xhr.onload = function () {
                if (xhr.status == 200) {
                    //alert(xhr.response);
                    if (xhr.response == 'true') {
                        if (fild_2.value == fild_3.value) {
                            //////////////////////////////////////////////////////////////
                            var x = new XMLHttpRequest();
                            var v = {
                                'email': emailconfirm.value,
                                'pw': fild_2.value,
                            };

                            var js = JSON.stringify(v);

                            x.open('POST', '/pwchange', true);
                            x.setRequestHeader("Content-Type", "application/json");
                            x.send(js); /// ajax data부분
                            if (x.status == 200) {
                                if (x.response == true) {
                                    alert("ㅂㅂ");
                                    return true;
                                } else {
                                    alert("실패");
                                    return false;
                                }
                            }

                            ////////////////////////////////////////////////////////////////
                        } else {
                            alert("비밀번호가 다릅니다");
                            return false;
                        }
                    } else {
                        alert("인증번호가 다릅니다");
                        return false;
                    }
                }
                return false;
            }
            return false;
        }
    </script>
</div><!-- //header -->
</div>
</body>
</html>