
/* 페이지 타이틀 영역*/
h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-align: center;

}
#container {
    text-align: left;
    margin-left: -180px;
    margin: 0 auto;
    padding: 40px 0 25px 0;
    width: 700px;
}

.sub_head h3 {
    float:left;
}
.sub_head div {
    float:right;
    display:inline-block;
}
.asset_tab {
    position: relative;
    margin-top: 50px;
}
.tabs_inbox .tab_content.current {
    display: inherit;
}
.tabs_inbox .tab_content {
    display: none;
    margin-top: -1px;
    border-top: 1px solid #838383;
}
.board_search {
    margin: 20px 0 15px 0;
    text-align: right;
}
