
.footer {
    bottom: 0;
    margin-top: 60px;
    background: #212429;
}

.footer_box {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 35px 0;
    width: 1200px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #fffF;
}

.footer_logo {
    margin: 15px 25px 0 25px;
}

