.detailTop{
    text-align: center;
    margin-bottom: 30px;
    display: inline;
}
.title-part{
    text-align: center;
}
.title{
    color: #5cb85c;
    font-size: 50px;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.teacher-box{
    width: 100%;
    background:#a5a5a5;
    height: 400px;
}
.teacher-img{
    background: white;
    width: 250px;
    height: 250px;
    margin: 50px;

}
.teacher-info{
    margin: 50px;
}
.part{
    background: red;
    color: white;
    display: inline;
}
.side-box {
    border-radius: 30px;
    float: left;
    width: 200px;
    height: auto;
    margin: 10px;
    margin-bottom: 0px;
    border: 1px solid grey;
    padding: 11px;
}
.side-box h4{
    text-align: center;
}
.side-box a {
    display: inline;
}
.border-box {
    opacity: 10;
    margin-top : 20px;
    height: 300px;
}
