.side-box .row{
    height: 30px;
    text-align: center;
}
a.button{
    width:150px;
    background: #fff;
    border:1px solid #f1f3f5;
    border-radius: 5px;
    color: black;
    margin : 5px auto 5px auto;
    display: block;
    font-weight: bold;
    text-transform: uppercase;

}
.listenLecture{
    margin : 5px auto 5px auto;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border:1px solid #f1f3f5;
    border-radius: 5px;
    width:150px;
    background: #2ecc71;
    color: white;   
}
.deleteLecture{
    margin : 5px auto 5px auto;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    border:1px solid #f1f3f5;
    border-radius: 5px;
    width:150px;
    color: red;
}
a.button::before,
a.button::after {
    background: white;
    color: #2ecc71;
}

a.button:hover {
    background: #2ecc71;
    color: white;
    content: '';
    z-index: -1;
}

.detailTop{
    text-align: center;
    margin-bottom: 30px;
    display: inline;
}
.title-part{
    text-align: center;
}
.title{
    color: #5cb85c;
    font-size: 50px;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-box{
    width: 100%;
    background:#a5a5a5;
    height: 400px;
}
.top-box-img{
    background: white;
    width: 250px;
    height: 250px;
    margin: 50px;

}
.top-box-teacher{
    font-weight: 4000;
}
.div_inner {
    width: 250px;
    height: 250px;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    border-radius: 15px;
    background: #005d96;
    box-shadow: inset 0px 0px 15px 15px #62b0cb;
}
.top-box-info{
    margin: 50px;
}
.top-box-bottom{
    margin-top: 100px;
    bottom: 0;
}
.teacher_img{
    border-radius: 50%;
}
.part{
    background: red;
    color: white;
    display: inline;
}
.side-box {
    border-radius: 8px;
    float: left;
    width: 250px;
    height: auto;
    overflow: hidden;
    border:1px solid #f1f3f5;
    padding: 11px;
    position:sticky;
    position: -webkit-sticky;
}
.side-box h4{
    text-align: center;
}
.side-box a {
    display: inline;
}
.border-box {
    opacity: 10;
    margin-top : 20px;
    height: 300px;
}
