.cate {
    margin-right: 20px;
    color: black;
}
#container {
    margin: 0 auto;
    padding: 40px 0 25px 0;
    width: 1200px;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
.sub_head h3 {
    float:left;
}
.sub_head div {
    float:right; 
    display:inline-block;
}
ul.tabs li.current {
    border: 1px solid #838383;
    border-bottom: 1px solid #fff;
}
ul.tabs li {
    display: inline-block;
    padding: 15px 60px;
    border: 1px solid #dedede;
    border-bottom: 1px solid #838383;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}
ul.tabs_in li span {
    margin : 2px;
    display: inline-block;
    padding: 10px 0;
    min-width: 155px;
    border-radius: 3px;
    background: #484848;
    font-size: 17px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    cursor: pointer;
}
.asset_tab {
    position: relative;
    margin-top: 50px;
}
.tabs_inbox .tab_content.current {
    display: inherit;
}
.tabs_inbox .tab_content {
    display: none;
    margin-top: -1px;
    border-top: 1px solid #838383;
}
.board_search {
    margin: 20px 0 15px 0;
    text-align: right;
}
ul.tabs_in {
    display: flex;
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
}
.school_lecture {
    display: flex;
    justify-content: start;
    color: #333;
}

.col {
    margin: 5px;
}
.lecture_field {
    display: inline-block;
    padding: 5px 5px;
    background-color: #3a3a3a;
    font-size: 16px;
    color: #fff;
}
.sc_lecture {
    display: inline-block;
    padding: 5px 5px;
    background-color: #486bab;
    color: #fff;
}
.lecture_field .field {
    display: inline-block;
    padding: 5px 5px;
    background-color: #db2828;
    color: #fff;
}
.school_lecture dl {
    position: relative;
    margin: 10px 5px;
    padding: 3px 3px 8px 3px;
    width: 225px;
    border: 1px solid #e2e2e2;
    background: #fff;
}
.school_lecture dl:first-child {
    margin: 10px 0;
}