#container {
    margin: 0 auto;
    padding: 40px 0 25px 0;
    width: 1200px;
    margin: 50px auto 45px auto;
}

.user_img {
    float: left;
    width: 250px;
    height: 400px;
    margin-right: 10px;
}
.myInfo{
    height: 450px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.grid_item{
    display: inline-block;
}
#editButton{
    float: right;
    margin-bottom: 10px;
}
.sub_head{
    margin: 0 auto;
    padding: 40px 0 25px 0;
    width: 1200px;
    margin: 50px auto 45px auto;
}