<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/headAndFootLayout}">
<head>
    <title>로그인</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="text/javascript">

        let emailCheck = false
        function myPasswordCheck() {
            //닉네임 중복체크

                let memberPassword = document.getElementById('memberPassword').value;
                console.log(document.getElementById('memberPassword').value);

                if (memberPassword != null) {
                    console.log(memberPassword)
                    fetch("/member/password/passwordCheck", {
                        headers: {
                            "Content-Type": "application/json",
                        },
                        method: "POST",
                        body: JSON.stringify({
                            memberPassword: memberPassword
                        })
                    }).then(response => response.json())
                        .then(data => {
                            if (data) {
                                alert("비밀번호가 일치합니다..");
                            } else {
                                alert("비밀번호가 일치하지 않습니다.");
                            }
                        })
                } else if(memberPassword == ""){
                    alert("비밀번호를 입력해주세요");
                }

    }


    </script>
</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="wrapper">

        <!--  login field  -->
        <div id="container">
            <div class="log_form">

               <form id="passwordCheck" name="passwordCheck" action="/member//password/passwordCheck" method="post">
                  현재 비밀번호 확인<br>
                   <input id="memberPassword" name="memberPassword" class="text text_s text_ss" title="이메일"
                          type="password"
                          value="">
                   <a class="btn btn-secondary" href="javascript:;" onclick="myPasswordCheck()">비밀번호 확인</a>

               </form>


            </div>
        </div><!-- //container -->
    </div>
</div>
</body>

</html>