<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/headAndFootLayout}">
<head>
    <title>회원가입</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <script type="text/javascript">
        $(window).load(function () {
            try {
            } catch (e) {
            }
        });

        let nicknamecheck = false;

        //닉네임 중복체크
        function nickNameDuplCheck() {
            let memberNickname = document.getElementById('memberNickname').value;

            if (memberNickname != null) {
                fetch("/member/mypage/editNickname", {
                    headers: {
                        "Content-Type": "application/json",
                    },
                    method: "POST",
                    body: JSON.stringify({
                        memberNickname: memberNickname
                    })
                }).then(response => response.json())
                    .then(data => {
                        if (data) {
                            nicknamecheck = true;
                            alert("사용 가능한 닉네임 입니다.");
                        } else {
                            nicknamecheck = false;
                            alert("이미 사용 중인 닉네임 입니다.");
                        }
                        check();
                    })

            } else {
                nicknamecheck = false;
                alert("닉네임을 입력해주세요");
            }
            check();
        }

        //회원가입 버튼 제어
        function check() {
            if (nicknamecheck) {
                document.getElementById('editButton').disabled = false;
            }
        }


    </script>
    <script>
        if (top != window) {
            top.location = window.location;
        }
    </script>
</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="wrapper">

        <div id="container">
            <div class="myInfo" th:object="${member} ">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>마이페이지</b></h3>
                <img class="user_img" id="memberName" src="/image/login/people.png"/>
                <h4>이름</h4>
                <dd th:utext="${ member.memberName}"></dd>
                <h4>닉네임 </h4>
                <input type="text" id="memberPassword" th:value="${member.memberNickname}">

                <button class="btn btn-primary" onclick="nickNameDuplCheck()">닉네임 중복 확인</button>
                <h4>비밀번호</h4>
                <!--                여기는 update만 넣을 수 있도록 -->
                <input type="password">
                <button class="btn btn-primary">비밀번호 변경하기</button>
                <h4>전화번호</h4>
                <input type="text" th:value="${member.memberPhone}">
                <button id="editButton" class="btn btn-primary" disabled>정보 수정하기</button>
            </div>

            <br>
            <br>

            <div class="sub_head">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>나의 수강 강좌</b> <a
                        href="/community/main" style="float: right"><img
                        src="http://crhs.aimind.co.kr/images/more.png" alt="더보기"></a></h3>
                <hr>

            </div>

            <!--                예시용 사진-->
            <div class="asset-top">
                <div class="container">
                    <div class="school_lecture">
                        <div class="row">

                            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                                <div th:if="${#lists.size(posts.getPage())}>0"
                                     th:each="vo, status:${posts.getPage()}"
                                     class="project-item border rounded h-100 p-4"
                                     style="min-height: 300px; max-height: 300px;"
                                     th:data-dot="${status.index}">
                                    <div class="position-relative mb-4">
                                        <img class="img-fluid rounded " style="max-width: 250px; max-height: 150px;"
                                             th:src="'/image/'+${vo.getLectureImage()}" alt="/img/project-1.jpg">
                                        <a th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}"
                                        ><i class="fa fa-eye fa-2x"></i></a>
                                    </div>
                                    <h6 th:text="${vo.getLectureTitle()}"></h6>
                                    <span th:text="${vo.getLectureDetail()}" style="text-overflow:ellipsis;"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //asset_top -->
                </div>
            </div><!-- //container -->


            <!--                    <div class="asset_center">-->
            <!--                        <div class="asset_center_box">-->
            <!--                            &lt;!&ndash;            좋아요 기능 구현 시 제대로 구현 예정 &ndash;&gt;-->
            <!--                            <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>나의 선호 강좌</b> <a-->
            <!--                                    href="/community/main" style="float: right"><img-->
            <!--                                    src="http://crhs.aimind.co.kr/images/more.png" alt="더보기"></a></h3>-->
            <!--                            <hr>-->

            <!--                            <div class="portfolio row">-->


            <!--                                <dl class="col"></dl>-->

            <!--                                <dl class="col"></dl>-->

            <!--                                <dl class="col"></dl>-->


            <!--                            </div>&lt;!&ndash; //portfolio &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; //asset_center &ndash;&gt;-->

            <!--                    </div>&lt;!&ndash; //asset_center &ndash;&gt;-->

            <div class="sub_head">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>내가 찜한 강좌</b> <a
                        href="/lecture/All" style="float: right"><img
                        src="http://crhs.aimind.co.kr/images/more.png" alt="더보기"></a></h3>
                <hr>


            </div>
            <div class="asset_center">
                <div class="container">
                    <div class="school_lecture">
                        <div class="row">

                            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                                <div th:if="${#lists.size(postlike)}>0"
                                     th:each="vo, status:${postlike}"
                                     class="project-item border rounded h-100 p-4"
                                     style="min-height: 300px; max-height: 300px;"
                                     th:data-dot="${status.index}">
                                    <div class="position-relative mb-4">
                                        <img class="img-fluid rounded " style="max-width: 250px; max-height: 150px;"
                                             th:src="'/image/'+${vo.getLectureImage()}" alt="/img/project-1.jpg">
                                        <a th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}"
                                        ><i class="fa fa-eye fa-2x"></i></a>
                                    </div>
                                    <h6 th:text="${vo.getLectureTitle()}"></h6>
                                    <span th:text="${vo.getLectureDetail()}" style="text-overflow:ellipsis;"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //asset_top -->
                </div>

            </div>
            <!--                        <div class="asset_center_box">-->
            <!--                            &lt;!&ndash;            좋아요 기능 구현 시 제대로 구현 예정 &ndash;&gt;-->
            <!--                            <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>나의 선호 강좌</b> <a-->
            <!--                                    href="/community/main" style="float: right"><img-->
            <!--                                    src="http://crhs.aimind.co.kr/images/more.png" alt="더보기"></a></h3>-->
            <!--                            <hr>-->

            <!--                            <div class="portfolio row">-->


            <!--                                <dl class="col"></dl>-->

            <!--                                <dl class="col"></dl>-->

            <!--                                <dl class="col"></dl>-->


            <!--                            </div>&lt;!&ndash; //portfolio &ndash;&gt;-->
            <!--                        </div>&lt;!&ndash; //asset_center &ndash;&gt;-->

            <!--                    </div>&lt;!&ndash; //asset_center &ndash;&gt;-->


            <div class="sub_head">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>내가 작성한 글</b> <a
                        href="/community/main" style="float: right"><img
                        src="http://crhs.aimind.co.kr/images/more.png" alt="더보기"></a></h3>
                <hr/>

            </div>
            <div class="asset_bottom">
                <div class="notice row">

                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${communityMainList}">
                            <td th:text="${list.id}"></td>
                            <td th:text="${list.title}"></td>
                            <td th:text="${list.member.memberNickname}"></td>
                            <td th:text="${#temporals.format(list.regTime, 'yyyy-MM-dd')}"></td>
                            <td th:text="${list.hit}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- //notice -->
            </div>
        </div>
    </div> <!-- layout 끝 -->

</div>
</body>

</html>