<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/headAndFootLayout}">
<head>
    <title>회원가입</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <script type="text/javascript">
        $(window).load(function () {
            try {
            } catch (e) {
            }
        });
    </script>
    <script>
        if (top != window) {
            top.location = window.location;
        }
    </script>
    <script type="text/javascript">
        function initEmailCheck() {

        }
    </script>
</head>
<body class="vsc-initialized">
<div layout:fragment="content">
    <div id="wrapper">

        <div id="container">
            <div class="myInfo"  th:each="ml : ${memberList}">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>마이페이지</b></h3>
                <img class="user_img" id="memberName" src="/image/login/people.png"/>
                <h4>이름</h4>
                <input type="text" id="memberNickname" th:value="${ml.memberName}" disabled>
                <h4>닉네임 </h4>
                <input type="text"  id="memberPassword" th:value="${ml.memberNickname}"> <button class="btn btn-primary">닉네임 변경하기</button>
                <h4>비밀번호</h4>
<!--                여기는 update만 넣을 수 있도록 -->
                <input type="password"> <button class="btn btn-primary">비밀번호 변경하기</button>
                <h4>전화번호</h4>
                <input type="text" th:value="${ml.memberPhone}">
                <button id="editButton" class="btn btn-primary">정보 수정하기</button>
            </div>
            <br>
            <br>

            <div class="sub_head">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>나의 수강 강좌</b></h3>
                <hr>
<!--                예시용 사진-->
                    <div class="asset-top">
                        <div class="container">
                            <div class="school_lecture">
                                <div class="row">

            <!--                        수강신청 여부 확인 후 등록 예정-->
<!--                                    th:if="${#lists.size('lectureList')} > 0"-->
                                    <div class="col"
                                         th:each="vo : ${lectureList}"><!-- 리스트 배열의 수만큼 실행 -->
                                        <div class="card-flyer" style="width: 300px; z-index: 1;">
                                            <div class="card shadow-sm">
                                                <div th:if="${vo.lectureImage == null}">
                                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                                         xmlns="http://www.w3.org/2000/svg" role="img"
                                                         aria-label="Placeholder: Thumbnail"
                                                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                                                        Placeholder</title>
                                                        <rect width="100%" height="100%" fill="#55595c"></rect>
                                                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                                    </svg>
                                                </div>
                                                <!--${vo.getLectureImage()}-->
                                                <div th:unless="${vo.lectureImage == null}" style="position: relative">
                                                    <img th:src="'/image/' + ${vo.lectureImage}"
                                                         style="width: 100%;height: 225px;" class="card-img-top">
                                                    <span
                                                            style="padding: 1px 1px;background-color: red;color: white;text-align: center;position: absolute;  top: 0%; left: 0%;"
                                                            th:text="${vo.lecturePart}"></span>
                                                </div>
                                                <div class="card-body"
                                                     style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                                    <h5 th:text="${vo.lectureTitle}"></h5>
                                                    <p class="card-text" th:text="${vo.lectureDetail}"></p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <a class="btn btn-sm btn-outline-secondary"
                                                               th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}">
                                                                View
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <dl class="col" th:if="${#lists.size('lectureList')} <=4"></dl>

                                </div><!-- //school_lecture -->
                            </div>
                            <p>
                            </p>
                        </div><!-- //asset_top -->




            <div class="asset_center">
                <div class="asset_center_box">
                    <!--            좋아요 기능 구현 시 제대로 구현 예정 -->
                    <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>나의 선호 강좌</b></h3>
                    <hr>
                    <div><a href="/lecture/All"><img src="http://crhs.aimind.co.kr/images/more.png"
                                                     alt="더보기"></a></div>

                    <div class="portfolio row">


                        <dl class="col"></dl>

                        <dl class="col"></dl>

                        <dl class="col"></dl>


                    </div><!-- //portfolio -->
                </div><!-- //asset_center -->

            </div><!-- //asset_center -->




            <div class="sub_head">
                <h3><img src="/image/EDoLOGO_small.png" width="30px" height="30px"><b>내가 작성한 글</b></h3>
                <hr>
                <div><a href="/community/main"><img src="http://crhs.aimind.co.kr/images/more.png"
                                                    alt="더보기"></a></div>
            </div>
            <div class="asset_bottom">
                <div class="notice row">

                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${communityMainList}">
                            <td th:text="${list.id}"></td>
                            <td th:text="${list.title}"></td>
                            <td th:text="${list.member.memberNickname}"></td>
                            <td th:text="${#temporals.format(list.regTime, 'yyyy-MM-dd')}"></td>
                            <td th:text="${list.hit}"></td>
                        </tr>
                        </tbody>

                    </table>


                </div><!-- //notice -->
            </div>


        </div>

    </div><!-- //container -->

</div>
</div> <!-- layout 끝 -->
</body>

</html>