<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/lectureLayout}">

<body>
<div layout:fragment="content">
    <!-- Project Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title bg-white text-center text-primary px-3">강좌목록</h4>
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-select" style="width: 200px; height: 55px;">
                        <option value="0" selected>최신순</option>
                        <option value="1">인기순</option>
                    </select>
                </div>
                <div class="col" style="right: 0; max-width: 150px;">
                    <a href="/lecture/add"
                       title="강좌 메뉴 링크" class="btn btn-outline-primary" id="lectureAddBtn"
                        sec:authorize="hasRole('TEACHER')" >강좌추가</a>
                </div>
            </div>
            <div class="lecture project-carousel fadeInUp" data-wow-delay="0.1s" >
                <!--partPage.page의 정보가 존재하는 경우 div 표시 & List인 partPage.page foreach형식으로 정보를 하나씩 가져옴.-->
                    <div th:if="${#lists.size(partPage.page)}>0"
                         th:each="vo, status:${partPage.page}"
                            class="project-item border rounded h-100 p-4"  style="min-height: 300px; max-height: 300px; min-width:240px  ;overflow: hidden;" th:data-dot="${status.index}">
                        <div class="position-relative mb-4">
                            <img class="img-fluid rounded " style="max-width: 190px; max-height: 150px;"
                                 th:src="'/image/'+${vo.getLectureImage()}" alt="/img/project-1.jpg">
                            <a  th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}"
                              ><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                        <h6 th:text="${vo.getLectureTitle()}"></h6>
                        <span th:text="${vo.getLectureDetail()}"></span>
                        <div class="btn-group" style="bottom: 0;" >
                            <a class="btn btn-sm btn-outline-secondary"
                               th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}"
                               sec:authorize="isAuthenticated()">
                                View
                            </a>
                            <div th:if="${vo.getId()}==userId">
                            <a class="btn btn-sm btn-outline-secondary"
                               th:href="@{/lecture/lectureEdit/{id}(id=${vo.getId()})}"
                               sec:authorize="isAuthenticated()">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-outline-danger"
                               th:href="@{/lecture/lectureRemove/{id}/{part}/{pageNumber}(id=${vo.getId()},part=${part},pageNumber=${partPage.paging.pageNumber})}"
                               sec:authorize="isAuthenticated()">
                                Remove
                            </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" class="container d-flex align-items-center justify-content-center" >
        <!--현재 토탈페이지가 1보다 큰 경우 즉, 페이지가 잇는 경우-->
        <ul class="pagination" th:if="${partPage.page.totalPages > 1}">
            <!--페이지에서 이전 버튼 부분
                isPrevEnabled가 false이면 disable class를 추가해 안보이게 , true인경우 표시-->
            <li class="page-item" th:classappend="${!partPage.paging.isPrevEnabled()? 'disabled' : ''}">
                <!--requestParam을 이용해 현재 있는 page보다 -1로 이동-->
                <a class ="page-link" th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${partPage.paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <!--현재 가지고 있는 아이템 즉, 페이지의 수 만큼 foreach 형식으로 각 아이템을 뽑아옴.-->
            <th:block th:each="item : ${partPage.paging.getItems()}">
                <!--현재 페이지가 item과 일치하다면 active class를 추가해서 파란색 버튼으로 표시 -->
                <li class="page-item" th:classappend="${item.index == partPage.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                     <a class="page-link" th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <!--페이지에서 다음 버튼 부분
              isNextEnabled가 false이면 disable class를 추가해 안보이게 , true인경우 표시-->
            <li class="page-item" th:classappend="${!partPage.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${partPage.paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
    <!-- Project End -->
</div>
</body>

</html>