<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/addLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>    <!-- CSS only -->
</head>
<body>
<div layout:fragment="content">
    <div class="row main-container">
        <div class="col">
        <form id="uploadContents" name="uploadContents" th:action="@{/contents/uploader}" method="post"
              class="needs-validation" enctype="multipart/form-data" novalidate th:object="${contentsEditDto}">
            <input type="hidden" id="firstDivideId" name="firstDivideId" th:value="${firstDivideId}"/>
            <div th:if="${not #strings.isEmpty(lectureContentsList)}">
                <input type="hidden" id="ContentsListSize" name="ContentsListSize"
                       th:value="${lectureContentsList.size()}">
            </div>
            <div data-name="fileDiv">
                <input type="hidden" id="ContentsSeq" name="ContentsSeq" value="0"/>
                <input type="hidden" th:name="lectureId" th:value="${lectureId}" id="lectureId"/>
                <button type="button" onclick="addFile();"
                        class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div data-name="contentsDiv">
                    <label>강의제목</label>
                    <input type="text" name="lectureDivideTitle" id="lectureDivideTitle"
                           th:placeholder="${lectureDivide?.getLectureDivideTitle()}">
                    <div class="form-group">
                        <label class="form-label mt-4">차시 설명</label>
                        <textarea name="content" id="editor1">
                             &lt;p&gt;This is some sample content.&lt;/p&gt;
                         </textarea>
                    </div>
                    <div class="accordion" id="accordionExample" style="margin-top: 20px; margin-bottom: 20px;">
                    </div>
                    <input type="submit" id="nextButton" class="btn btn-outline-primary nextButton" value="저장"/>
                </div>
            </div>
        </form>
        </div>

        <div class="col">
            <input type="hidden" id="divide1" name="divide1" th:value="${lectureDivideIds}">
            <div th:each="vo,status : ${lectureDivideIds}">
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex w-100 align-items-center justify-content-between" style="background: white">
                        <a th:href="'/lecture/contentsEdit/'+${vo}"
                           onclick="return chk_form()"
                           class="list-group-item list-group-item-action active py-3 lh-sm"
                           aria-current="true" th:text="'차시' + ${status.index+1}" style="background: white;
                                color:black;"/>
                        <a th:href="'/lecture/contentsdelete/'+${vo}" type="button"
                           class="btn btn-outline-danger">삭제</a>
                    </div>
                </div>
            </div>
            <a type="button" class="btn-outline-primary" th:href="'/lecture/divideAdd/'+${lectureId}">차시 추가</a>
        </div>
    </div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#editor1'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function chk_form() {
            document.getElementById('uploadContents').onsubmit();
        }
    </script>
    <script th:inline="javascript">
        var testCount = 0;
        /*<![CDATA[*/
        $(document).ready(function () {
            let contentsList = $("#ContentsListSize").val();
            const fileDivs = $('div[data-name="fileDiv"]');
            if (fileDivs.length > 4) {
                alert('차시는 최대 5개까지 업로드 할 수 있습니다.');
                return false;
            }
            for (let i = 1; i <= contentsList; i++) {
                let testValue = [[${lectureContentsList}]][i - 1]['lectureContentsTitle'];
                let lectureContentsList = [[${lectureContentsList}]][i - 1];

                const fileHtml = `
<div class="accordion-item">
     <button type="button" onclick="removeFile(this)"
                    class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                <i class="fa fa-minus" aria-hidden="true"></i>
     </button>
    <h2 class="accordion-header" th:id="heading${testCount}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${testCount}"
                aria-expanded="true" aria-controls="collapse${testCount}">
            파일 추가${testCount}
        </button>
    </h2>
    <div id="collapse${testCount}" class="accordion-collapse collapse show" aria-labelledby="heading${testCount}"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div data-name="fileDiv" class="form-group">
                <div data-name="contentsDiv">
                    <div style="display: block">
                        <label>차시제목</label>
                        <input type="text" name="lectureContentsTitle${testCount}" id="lectureContentsTitle${testCount}"></div>
                    <div style="display: block">
                        <label>차시 파일</label>
                        <ul class="tabs">
                            <li class="tab-link current" id="tabBar-${testCount}" data-tab="tab-${testCount}">파일</li>
                            <li class="tab-link" id="tabBar-${testCount + 5}" data-tab="tab-${testCount + 5}">링크</li>
                        </ul>

                        <div id="tab-${testCount}" class="tab-content current">
                            <input type='file' id="lectureContentsFile${testCount}" name="lectureContentsFile${testCount}"
                                   accept=".pdf,.mp4,.webM,.avi,.ogg"/></div>
                        <div id="tab-${testCount + 5}" class="tab-content">
                            <input type="text" name="lectureContentsLink${testCount}" placeholder="링크입력">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
`;
// If you use jQuery, you can use the jQuery plugin Dropzone ships with:
                $("#accordionExample").append(fileHtml);
                $('ul.tabs li').click(function () {
                    console.log('hi');
                    let tab_id = $(this).attr('data-tab');

                    let tabtest = parseInt(tab_id.substr(4, 5));
                    console.log(parseInt(tabtest) + 5);

                    $("#tabBar-" + (tabtest)).removeClass('current');
                    $("#tabBar-" + (tabtest + 5)).removeClass('current');
                    $("#tabBar-" + (tabtest - 5)).removeClass('current');
                    $('#tab-' + (tabtest)).removeClass('current');
                    $('#tab-' + (tabtest + 5)).removeClass('current');
                    $('#tab-' + (tabtest - 5)).removeClass('current');

                    $(this).addClass('current');
                    $("#" + tab_id).addClass('current');
                })
                $('#ContentsSeq').attr("value", testCount);
                console.log(testCount);
            }
        })
        /*]]>*/
    </script>
    <script th:inline="javascript"> /*[- 파일 인덱스 처리용 전역 변수 -]*/
    function addFile() {
        const fileDivs = $('div[data-name="fileDiv"]');
        if (fileDivs.length > 5) {
            alert('차시는 최대 5개까지 업로드 할 수 있습니다.');
            return false;
        }
        const fileHtml = `
<div class="accordion-item">
     <input type="hidden" id="fileCount${testCount}" value="${testCount}"/>
     <button type="button" onclick="removeFile(this)"
                    class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                <i class="fa fa-minus" aria-hidden="true"></i>
     </button>
    <h2 class="accordion-header" th:id="heading${testCount}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${testCount}"
                aria-expanded="true" aria-controls="collapse${testCount}">
            파일 추가${testCount}
        </button>
    </h2>
    <div id="collapse${testCount}" class="accordion-collapse collapse show" aria-labelledby="heading${testCount}"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div data-name="fileDiv" class="form-group">
                <div data-name="contentsDiv">
                    <div style="display: block">
                        <label>차시제목</label>
                        <input type="text" name="lectureContentsTitle${testCount}" id="lectureContentsTitle${testCount}"></div>
                    <div style="display: block">
                        <label>차시 파일</label>
                        <ul class="tabs">
                            <li class="tab-link current" id="tabBar-${testCount}" data-tab="tab-${testCount}">파일</li>
                            <li class="tab-link" id="tabBar-${testCount + 5}" data-tab="tab-${testCount + 5}">링크</li>
                        </ul>

                        <div id="tab-${testCount}" class="tab-content current">
                            <input type='file' id="lectureContentsFile${testCount}" name="lectureContentsFile${testCount}"
                                   accept=".pdf,.mp4,.webM,.avi,.ogg"/></div>
                        <div id="tab-${testCount + 5}" class="tab-content">
                            <input type="text" name="lectureContentsLink${testCount}" placeholder="링크입력">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
`;
// If you use jQuery, you can use the jQuery plugin Dropzone ships with:
        $('ul.tabs li').click(function () {
            let tab_id = $(this).attr('data-tab');

            let tabtest = parseInt(tab_id.substr(4, 5));
            console.log(parseInt(tabtest) + 5);

            $("#tabBar-" + (tabtest)).removeClass('current');
            $("#tabBar-" + (tabtest + 5)).removeClass('current');
            $("#tabBar-" + (tabtest - 5)).removeClass('current');
            $('#tab-' + (tabtest)).removeClass('current');
            $('#tab-' + (tabtest + 5)).removeClass('current');
            $('#tab-' + (tabtest - 5)).removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })
        for(i=0;i<5;i++){
            if($('input#fileCount'+i).val()){
                console.log(i,"해당 객체 존재함");

            }else{
                testCount=i;
                let fileHtml  = `
<div class="accordion-item">
     <input type="hidden" id="fileCount${testCount}" value="${testCount}"/>
     <button type="button" onclick="removeFile(this)"
                    class="btn btn-bordered btn-xs visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline">
                <i class="fa fa-minus" aria-hidden="true"></i>
     </button>
    <h2 class="accordion-header" th:id="heading${testCount}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${testCount}"
                aria-expanded="true" aria-controls="collapse${testCount}">
            파일 추가${testCount}
        </button>
    </h2>
    <div id="collapse${testCount}" class="accordion-collapse collapse show" aria-labelledby="heading${testCount}"
         data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div data-name="fileDiv" class="form-group">
                <div data-name="contentsDiv">
                    <div style="display: block">
                        <label>차시제목</label>
                        <input type="text" name="lectureContentsTitle${testCount}" id="lectureContentsTitle${testCount}"></div>
                    <div style="display: block">
                        <label>차시 파일</label>
                        <ul class="tabs">
                            <li class="tab-link current" id="tabBar-${testCount}" data-tab="tab-${testCount}">파일</li>
                            <li class="tab-link" id="tabBar-${testCount + 5}" data-tab="tab-${testCount + 5}">링크</li>
                        </ul>

                        <div id="tab-${testCount}" class="tab-content current">
                            <input type='file' id="lectureContentsFile${testCount}" name="lectureContentsFile${testCount}"
                                   accept=".pdf,.mp4,.webM,.avi,.ogg"/></div>
                        <div id="tab-${testCount + 5}" class="tab-content">
                            <input type="text" name="lectureContentsLink${testCount}" placeholder="링크입력">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
`;
                $("#accordionExample").append(fileHtml);
                console.log(testCount);
                testCount++;
                break;
            }
        }
        console.log(testCount);

    }

    function removeFile(elem) {

        const prevTag = $(elem).prev().prop('tagName');
        console.log(prevTag, elem);
        if (prevTag === 'BUTTON') {
            theEditor.setData('');
            return false;
        }
        if (testCount === 0) {

        } else {
            $(elem).parent().remove();
        }
        testCount--;
    }
    </script>

    <!--submit의 이벤트를 잠시 멈추고 진행한 다음에 재전송하는 함수-->
    <script th:inline="javascript">
        $("#uploadContents").submit(function (event) {
            event.preventDefault();
            let lectureDivideTitle = $("#lectureDivideTitle").val();
            let lectureContentsTitle = [];
            let lectureDivideInfo = $("#editor1").val();
            console.log(lectureDivideInfo);
            let lectureId = $("#lectureId").val();
            let divideId = $("#firstDivideId").val();
            for (let i = 1; i <= testCount; i++) {
                lectureContentsTitle.push($("#lectureContentsTitle" + i).val());
            }
            let param = {
                "divideId": divideId,
                "lectureDivideTitle": lectureDivideTitle,
                "ListLectureContentsTitle": lectureContentsTitle,
                "lectureDivideInfo": lectureDivideInfo,
                "strLectureId": lectureId,
            }
            let isSubmit = false;
            $.ajax({
                anyne: true,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(param),
                url: "/lecture/contents",
                dataType: "text",
                async: false,
                success: function (data) {
                    let form = document.uploadContents;
                    form.ContentsSeq.value = testCount;
                    var message = 'Success'

                    // 결과값이 성공이면 전송 여부는 true
                    if (message == 'Success') {
                        isSubmit = true;
                    } else {
                        // 결과값이 실패이면 전송 여부는 false
                        // 앞서 초기값을 false로 해 놓았지만 한번 더 선언을 한다.
                        isSubmit = false;
                    }
                },
            });

            if (isSubmit) this.submit();
        })
    </script>
</div>
</body>

</html>