<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="utf-8">
</head>
<body>
<div layout:fragment="content">
    <div th:if="${not #strings.isEmpty(lectureDivide)}">
        <div class="row detailTop">
            <div class="title-part">
                <span class="title" th:text="${lectureDivide.getLectureDivideTitle()}"></span>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-sm-10 col-md-10">
                <div class="row">
                    <div th:if="${#lists.size(lectureContentsList)} > 0">
                        <div th:if="${not #strings.isEmpty(lectureContentsList)}">
                            <div class="row">
                                <div th:each="vo,status : ${lectureContentsList}">
                                    <div th:if="${#lists.size(lectureContentsFileList)} > 0">
                                        <div th:each="fo : ${lectureContentsFileList}">
                                            <div th:if="${not #strings.isEmpty(fo)}">
                                                <div th:if="${vo.getId()}==${fo.getLectureContents().getId()}">

                                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header"
                                                                th:id="'panelsStayOpen-heading'+${status.count}">
                                                                <button class="accordion-button" type="button"
                                                                        data-bs-toggle="collapse"
                                                                        th:data-bs-target="'#panelsStayOpen-collapse'+${status.count}"
                                                                        aria-expanded="true"
                                                                        th:aria-controls="'panelsStayOpen-collapse'+${status.count}"
                                                                        th:text="'강의'+${status.count}">
                                                                </button>
                                                            </h2>
                                                            <div th:id="'panelsStayOpen-collapse'+${status.count}"
                                                                 class="accordion-collapse collapse"
                                                                 th:aria-labelledby="'panelsStayOpen-heading'+${status.count}">
                                                                <div class="accordion-body">

                                                                    <div th:if="${fo.getFileType()}=='application/pdf'">
                                                                        <iframe width="100%" height="600"
                                                                                th:src="@{/file/}+${fo.getFileName()}"></iframe>
                                                                    </div>
                                                                    <div th:if="${fo.getFileType()}=='video/mp4'
                                                                        or ${fo.getFileType()}=='video/webM'
                                                                          or ${fo.getFileType()}=='video/avi'
                                                                         or ${fo.getFileType()}=='video/ogg'">
                                                                        <video controls width="100%" height="600"
                                                                               th:src="@{/file/}+${fo.getFileName()}">
                                                                            <source th:src="@{/file/}+${fo.getFileName()}"
                                                                                    th:type="${fo.getFileType()}">
                                                                        </video>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>강의 차시 설명</p>
                    <div class="form-group">
                        <div id="lectureInfo">
                            <dd th:utext="${lectureDivide.getLectureDivideInfo()}"></dd>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 col-md-2">
                <div class="side-box" id="scroll">
                    <div th:if="${#lists.size(lectureDivideIds)} > 0">
                        <div class="row">
                            <div th:each="vo,status : ${lectureDivideIds}">
                                <a th:href="'/lecture/contents/'+${lectureId}+'/'+${vo}"
                                   class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                   aria-current="true">
                                    <div class="d-flex gap-2 w-100 justify-content-between">
                                        <div>
                                            <p th:text="'차시' + ${status.index+1}"
                                               class="mb-0 opacity-75"></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(window).scroll(function () {
            var position = $(document).scrollTop();
            $("#scroll").css('top', position);
        });
    </script>
    <script type="text/javascript">
        $("#uploadLecture").submit(function (event) {
            event.preventDefault();
            $("#lectureInfoHidden").val(editor[0].getData());
            this.submit();
        });
    </script>
    <script>
        ClassicEditor
            .create(document.querySelector('#lectureInfo'))
            .catch(error => {
                console.error(error);
            });
    </script>
</div>
</body>

</html>