<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/lectureSidebarLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<div layout:fragment="content">
    <div id="wrapper">
        <!-- //header -->
        <a href="/lecture/add" target="_self"
           title="강좌 메뉴 링크" class="button" sec:authorize = "isAuthenticated()">강좌추가</a>
        <div class="album py-5">

            <div class="cards_landscape_wrap-2">
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" th:if="${#lists.size(partPage.page)} > 0"
                             th:each="vo : ${partPage.page}"><!-- 리스트 배열의 수만큼 실행 -->
                            <div class="card-flyer " style="min-width: 300px; max-width: 300px;">
                                <div class="card shadow-sm">
                                    <div th:if="${vo.getLectureImage()==null}">
                                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                             xmlns="http://www.w3.org/2000/svg" role="img"
                                             aria-label="Placeholder: Thumbnail"
                                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                                            Placeholder</title>
                                            <rect width="100%" height="100%" fill="#55595c"></rect>
                                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                        </svg>
                                    </div>
                                    <!--${vo.getLectureImage()}-->
                                    <div th:unless="${vo.getLectureImage()==null}" style="position: relative">
                                        <img th:src="@{/img/} + ${vo.getLectureImage()}"
                                             style="width: 100%;height: 225px;" class="card-img-top">
                                        <span
                                                style="padding: 1px 1px;background-color: red;color: white;text-align: center;position: absolute;  top: 0%; left: 0%;"
                                                th:text="${vo.getLecturePart()}"></span>
                                    </div>
                                    <div class="card-body"
                                         style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                        <h5 th:text="${vo.getLectureTitle()}"></h5>
                                        <p class="card-text" th:text="${vo.getLectureDetail()}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-outline-secondary"
                                                   th:href="@{/lecture/lectureDetail/{id}(id=${vo.getId()})}">
                                                    View
                                                </a>
                                                <a class="btn btn-sm btn-outline-secondary"
                                                   th:href="@{/lecture/lectureEdit/{id}(id=${vo.getId()})}" sec:authorize = "isAuthenticated()">
                                                    Edit
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${posts.page.totalPages > 1}">
            <li class="p    age-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                <a class    ="page-link" th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${posts.paging.pageNumber - 1}}"
                   tabin    dex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${posts.paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <!-- <input type="hidden" id="hiddenPrev" name="hiddenPrev" th:value="${item.index}">
                     <a class="page-link"
                        id="pagePrev" name="pagePrev" onclick="pagePrev()" th:text="${item.index}"></a>-->
                    <a class="page-link" th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/lecture/' + ${part} + '?pageNumber=' + ${posts.paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $("input[name='tabs']").click(function () {

            let test = $(this).attr('id');
            let item = [[${posts.paging.pageNumber}]];
            $.ajax({})

        })
    })
</script>
</html>
