<head>
  <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">$(document).ready(function() {$("#Integrity").tooltip('hide');})</script>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">

  <style>
    body{
      font-family: 'Exo 2', sans-serif;
    }
  </style>
</head>
<body><div class="container-fluid">

  <div class="row margin-top">
    <div class="col-sm-4 block1">
      <h1>block 1</h1>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 hidden-xs empty-block">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 block2">
          <h1>block 2</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top">
    <div class="col-sm-12 block-contain">
      <div class="row">
        <div class="col-sm-8 col-md-8 block3">
              <h1>block 3</h1>
        </div>

        <div class="col-sm-4 col-md-4 block7">
              <h1>block 7</h1>
        </div>
      </div>
    </div>
  </div>

</div>
</body>