<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>E-DO 온라인학습 관리시스템</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>


    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!--sidebars StyleSheet-->
    <link href="/css/sidebars.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/slick/slick.css"/>
    <link rel="stylesheet" href="/css/slick/slick-theme.css"/>

</head>
<body>

<div th:replace="fragments/header::header"></div>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-3">커뮤니티</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">community</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="row" id="main" >
    <input type="hidden" id="part" th:value="${part}"/>
    <!--sidebars -->
    <div class="col-2" id="sideStart" style="margin-right: 5px; margin-left: -20px;">
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <a id="side-head" href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">E-Do</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" id="sideTag">
                <li class="nav-item">
                    <a th:href="@{/community/community/{part}(part='notice')}" class="nav-link link-dark" aria-current="page" id="notice">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#home"/>
                        </svg>
                        공지
                    </a>
                </li>
                <li>
                    <a th:href="@{/community/community/{part}(part='freeCommu')}" class="nav-link link-dark" id="freeCommu">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"/>
                        </svg>
                        자유게시판
                    </a>
                </li>
                <li>
                    <a th:href="@{/community/community/{part}(part='qna')}" class="nav-link link-dark" id="qna">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#table"/>
                        </svg>
                        Q&A
                    </a>
                </li>
                <li>
<!--                    <a href="/community/shorts" class="nav-link link-dark" id="shorts">-->
                    <a th:href="@{/community/{part}(part='shorts')}" class="nav-link link-dark" id="shorts">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#grid"/>
                        </svg>
                        쇼츠
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
    <!--end sidebars-->
    <div class="col-9" style="margin: auto;">
        <div layout:fragment="content" class="content">
        </div>
    </div>
</div>


<div th:replace="fragments/footer::footer"></div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!--sidebar 사이즈 별 숨김, 나타남-->
<script type="text/javascript">
    <!-- sidebar 메뉴 선택에 다른 active 효과 변경-->
    $(function () {
        console.log($('input#part').val());
        let text = $('input#part').val()
        $('#' + text).addClass('active').siblings('a').removeClass('active');
    })
    //여기까지 active효과 넣어주기 끝 --------------------------------------------------------------------


    // sidebar  window 창 사이즈에 따라 숨김, 나타남
    $(window).resize(function () {
        const sidestart = document.getElementById('sideStart');
        const addBtn = document.getElementById('lectureAddBtn');

        console.log(window.innerWidth)
        if (window.innerWidth < 1440) {
            sidestart.style.display = 'none';
            addBtn.style.display = 'none';
        }
        if (window.innerWidth > 1430) {
            sidestart.style.display = 'block';
            addBtn.style.display = 'block';
        }
    })
</script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/css/slick/slick.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

</body>
</html>